<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>helloJsp.controller.Login</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Registrasi</servlet-name>
    <servlet-class>helloJsp.controller.Registrasi</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Validasi</servlet-name>
    <servlet-class>helloJsp.controller.Validasi</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>helloJsp.controller.Logout</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Category</servlet-name>
    <servlet-class>helloJsp.controller.Category</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EditBarang</servlet-name>
    <servlet-class>helloJsp.controller.EditBarang</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Cart</servlet-name>
    <servlet-class>helloJsp.controller.Cart</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Favorit</servlet-name>
    <servlet-class>helloJsp.controller.Favorit</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateBarang</servlet-name>
    <servlet-class>helloJsp.controller.UpdateBarang</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Search</servlet-name>
    <servlet-class>helloJsp.controller.Search</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Profile</servlet-name>
    <servlet-class>helloJsp.controller.Profile</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateProfile</servlet-name>
    <servlet-class>helloJsp.controller.UpdateProfile</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShoppingCart</servlet-name>
    <servlet-class>helloJsp.controller.ShoppingCart</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CardValidation</servlet-name>
    <servlet-class>helloJsp.controller.CardValidation</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateUser</servlet-name>
    <servlet-class>helloJsp.REST.UpdateUser</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateCreditCard</servlet-name>
    <servlet-class>helloJsp.REST.UpdateCreditCard</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateTotalTransaksi</servlet-name>
    <servlet-class>helloJsp.REST.UpdateTotalTransaksi</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetFavorit</servlet-name>
    <servlet-class>helloJsp.REST.GetFavorit</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CheckCardValidation</servlet-name>
    <servlet-class>helloJsp.REST.CheckCardValidation</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetUser</servlet-name>
    <servlet-class>helloJsp.REST.GetUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Registrasi</servlet-name>
    <url-pattern>/Registrasi</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Category</servlet-name>
    <url-pattern>/Category</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditBarang</servlet-name>
    <url-pattern>/EditBarang</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Cart</servlet-name>
    <url-pattern>/Cart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Favorit</servlet-name>
    <url-pattern>/Favorit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateBarang</servlet-name>
    <url-pattern>/UpdateBarang</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/Search</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Profile</servlet-name>
    <url-pattern>/Profile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateProfile</servlet-name>
    <url-pattern>/UpdateProfile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShoppingCart</servlet-name>
    <url-pattern>/ShoppingCart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CardValidation</servlet-name>
    <url-pattern>/CardValidation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Validasi</servlet-name>
    <url-pattern>/Validasi</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateUser</servlet-name>
    <url-pattern>/UpdateUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateCreditCard</servlet-name>
    <url-pattern>/UpdateCreditCard</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateTotalTransaksi</servlet-name>
    <url-pattern>/UpdateTotalTransaksi</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetFavorit</servlet-name>
    <url-pattern>/GetFavorit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckCardValidation</servlet-name>
    <url-pattern>/CheckCardValidation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetUser</servlet-name>
    <url-pattern>/GetUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Jersey REST Service</servlet-name>
    <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer
		</servlet-class>
    <init-param>
      <param-name>com.sun.jersey.config.property.packages</param-name>
      <param-value>helloJsp.REST</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jersey REST Service</servlet-name>
    <url-pattern>/rest/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Apache-Axis Servlet</display-name>
    <servlet-name>AxisServlet</servlet-name>
    <servlet-class>org.apache.axis.transport.http.AxisServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/servlet/AxisServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>*.jws</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/services/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Axis Admin Servlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>org.apache.axis.transport.http.AdminServlet</servlet-class>
    <load-on-startup>100</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/servlet/AdminServlet</url-pattern>
  </servlet-mapping>
</web-app>