@font-face
{
	font-family: "crayon";
	src: url(../fonts/DKCrayonCrumble.ttf) format("truetype");
}

#mask
{
	background-color: #000000;
}

#starter
{
	background-color:#000000;
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
}

.text_animation
{
	position:absolute;
	top:55%;
	left:30%;
}


.animation
{
	position:absolute;
	top:30%;
	left:30%;
}

.container
{
	background-color: black;
	color:white;
	font-family: crayon;
} 

.h2
{
	color: #FFFFFF;
}

.navigation
{
	display:block;
	padding-left:280px;
	height:80px;
	background-color:#333333;
}

#navigator
{
	font-size: 20px;
	display:inline-block;
	height:70px;
	text-align:left;
	padding: 30px 0px 0px 0px;
	margin-left:50px;
	color: white;
}

#navigator:hover {
    background: #feffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #feffff 0%, #cbccdb 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feffff), color-stop(100%,#cbccdb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #feffff 0%,#cbccdb 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #feffff 0%,#cbccdb 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #feffff 0%,#cbccdb 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #feffff 0%,#cbccdb 100%); /* W3C */
	color:#000000;
	box-shadow: 3px 3px 3px #888888;
}

.board
{
	position:absolute;
	top:0;
	left:72%;	
	color:white;
}

.words
{
	position:absolute;
	left:73%;
	top:1%;
	color:white;	
}

.logo
{
	display:block;
}

.content
{
	background-color:#AAAAAA;
	margin: 30px 0px 0px 0px;
	height:500px;
}

.footer
{
	font-size:20px;
	color:#FFFFFF;	
}

#contents
{
	display:inline-block;
	text-align:left;
	padding-left: 150px;
	padding-top: 200px;
}

.barang
{
	display:inline-block;
	text-align:left;	
	margin-left:50px;
	margin-bottom:20px;
}

.detailBarang
{
	margin-left:200px;
	margin-top:20px;
	background-color:transparent;
}

.segment
{
	display:inline-block;
	text-align:left;
	margin-left:50px;
}

.title
{
	font-size:30px;
	margin-left:200px;
	margin-top:10px;
}

.leftbar
{
	width:750px;
	display:inline-block;
	text-align:left;
	background-color:transparent;
	background-color:#DDDDDD;
	color:#000000;
	padding-left:30px;
	font-family:crayon;
	margin-left:50px;
}

.centerbar
{
	position:absolute;
	width:290px;
	padding-bottom:10px;
	display:inline-block;
	text-align:left;
	background-color:#DDDDDD;
	margin-left:5px;
	padding-left:10px;
	color:#000000;
}

.fullbar
{
	width:1100px;
	color:#000000;
	padding-bottom:10px;
	display:inline-block;
	text-align:left;
	padding-left:30px;
	font-family:crayon;
	margin-left:50px;
	background-color:transparent;
	background-color:#DDDDDD;
}

.sidebar
{
	position:absolute;
	top:44%;
	right:0%;
	background-color:#DDDDDD;
}

.picture
{
	margin-left:10px;
	margin-top:20px;
	color:black;
}

.light
{
	color:#FFFFFF;
}

.pagination
{
	font-size:30px;
	margin-left:50px;
}

#loginreport{
	text-align:center;
	margin-top:250px;
	color : #AAA;
	font-size:20px;
	font-family:monospace;
}

#uname{
	color:#AAA;
}


#ed{
	cursor:text;
}
.ds_box {
	background-color: #FFF;
	border: 1px solid #000;
	position: absolute;
	z-index: 32767;
}

.ds_tbl {
	background-color: #FFF;
}

.ds_head {
	background-color: #333;
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	letter-spacing: 2px;
}

.ds_subhead {
	background-color: #CCC;
	color: #000;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	width: 32px;
}

.ds_cell {
	background-color: #EEE;
	color: #000;
	font-size: 13px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	padding: 5px;
	cursor: pointer;
}

.ds_cell:hover {
	background-color: #F3F3F3;
}

#loginpages{
	position : absolute;
	top : 200px;
	left : 400px;
	width : 500px;
	height : 250px;
	text-align : center;
	background-color : #CAE;
	font-family : sans-serif;
	border-radius: 20px ;
}
#log{
	display : inline-block;
}
#chef{
	position : absolute;
	display : inline-block;
	left : 100px;
	height : 80px;
	width : 50px;
}

#logusnm::-webkit-input-placeholder { font-style:italic; letter-spacing:3px;}
#logpwd::-webkit-input-placeholder { font-style:italic; letter-spacing:3px;}